.about{
  margin-bottom:54px;

}
.about__wrapper {
  .container();
}
.about__features{
  padding: 0;
  margin: 0;
}
.about__title {
  margin-top: 26px;
  margin-bottom: 33px;

}
.about__icon {
  margin-left: 5px;
  margin-bottom: 23px;
  margin-top: 25px;
}
.about__feature{
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 22px;
  list-style: none;
}
.about__icon{
  fill:#63d1bb;
  fill-rule: evenodd;
  display: block;

}
@media @tablet-widths {
  .about__title {
    margin-top: 49px;
  }
  .about__features  {
    display: flex;
    flex-wrap: wrap;
  }
  .about__feature {
    flex-basis:334px;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .about__feature:nth-child(1) {
    order:-2;
  }
  .about__feature:nth-child(4) {
    order:-1;
  }
  .about__feature:nth-child(2) {
    order:0;
  }
  .about__feature:nth-child(5) {
    order:1;
  }
  .about__feature:nth-child(3) {
    order:2;
  }
  .about__feature:nth-child(6) {
    order:3;
  }
  .about {
    margin-bottom: 59px;
  }

}
@media @desktop-widths {
  .about__wrapper {
    width: 700px;
  }
  .about__title {
    margin-top: 57px;
    margin-bottom: 20px;
  }
  .about {
    margin-bottom: 78px;
  }


}
