.best-product {
  padding-bottom: 35px;
}
.best-product__subtitle {
  text-transform: uppercase;
  font-family: "OpenSans Bold",sans-serif;
  font-size: 17px;
  line-height: 16px;
  color:#63d1bb;


}
.best-product p{
  line-height: 24px;
}
.best-product__table{
  line-height:20px;
}
.best-product__price{
  font-family: "OpenSans Bold",sans-serif;
  font-size: 17px;
  line-height: 24px;
}
