.contacts{

}
.contacts__wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
}
.contacts__title__wrapper {
  width:260px;
  margin-left: auto;
  margin-right: auto;
}
.contacts__title  {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 22px;
}
.contacts__email{
  color: #444444;
  text-decoration:none;
  border-bottom:1px solid #62d1ba;
}
.contacts__email:hover {
  color: #46c1ae;
}
.contacts__email:active {
  color: rgba(70,193,174,0.3);
  border-bottom-color: rgba(70,193,174,0.1);
}
.contacts__field {
  width: 70px;
}
.contacts__value{

}
.contacts__write {
  margin-bottom: 41px;
  width:260px;
  margin-left: auto;
  margin-right: auto;
  order:3;
}
.contacts__table td {
  vertical-align: top;
}
.contacts__table tr:first-child td {
  padding-bottom: 28px;
}
.contacts__table {
  margin-bottom: 33px;
  width:260px;
  margin-left: auto;
  margin-right: auto;
}
.contacts__icon-flag {
  display: none;
}
.contacts__map{
  min-height:460px;
  margin-bottom: 38px;
  width: 100%;
  order:2;
  background: url(../img/map-mobile@1x.jpg) 50% 0 no-repeat #f7f1d9;
  background-size: cover;

  @media @retina {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: cover;
  }
}
@media @tablet-widths {
  .contacts__table {
    display: block;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 54px;
    width:668px;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__table tbody{
    display: flex;
    justify-content: space-between;
  }
  .contacts__table tr {
    display: flex;
    width:50%;
  }
  .contacts__table td {
    display: block;
  }
  .contacts__write {
    width: 230px;
    margin-left:auto;
    margin-right: auto;
  }
  .contacts__icon-flag {
    display: block;
    position: absolute;
    top: -17px;
    right: 0;
  }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 47px;
  }
  .contacts__title__wrapper {
    position: relative;
    width:668px;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__map {
    margin-bottom: 55px;
  }
}
@media @desktop-widths {
  .contacts__table {
    display: table;
    tbody {
      display: table-row-group;
    }
    tr {
      display:table-row;
    }
    td {
      display: table-cell;
    }
  }
  .contacts {
    .container();

  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__title__wrapper,
  .contacts__table  {
    float: left;
    .clearfix();
    width: 33%;
    margin-left: 175px;

  }
  .contacts__title__wrapper {
    margin-top: 27px;
  }

  .contacts__write {
    float: left;
    margin-left: 175px;
    .clearfix();
  }
  .contacts__wrapper {
    display: block;
    .clearfix();

  }
  .contacts__icon-flag {
    left: -105px;
    top: 37px;
  }
  .contacts__table {
    margin-bottom: 70px;
  }
  .contacts__map {
    width: 525px;
    float: right;
    .clearfix();
  }
}
