.main-nav__list{
  list-style: none;
  padding: 0;
  margin: 0;

}
.main-nav__item a{
  display: block;
  padding: 15px;
  font-family: "OpenSans Bold",sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}
