.main-nav__list,
.main-nav-desktop__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav {
  z-index: 100;
}
.main-nav__item a {
  display: block;
  padding: 15px;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  margin-bottom: -1px;
  position: relative;
}
.main-nav__icon-cart {
  margin-right: 24px;
}
.main-nav__item a:hover {
  color: rgba(0,0,0,0.6);
}
.main-nav__item a:active {
  color: rgba(0,0,0,0.3);
}
@media @mobile-widths-only {
  .main-nav {
    width: 100%;
  }
  .main-nav__item a {
    border: 1px solid #ececec;
    background: #fff;
    padding-left: 75px;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: left;
  }
  .page-header--menu-closed .main-nav {
    display: none;
  }
  .page-header--menu-opened .main-nav {
    display: block;
  }
  .page-header--nojs .main-nav {
    display: block;
  }
}
@media @tablet-widths {
  .main-nav {
    width:345px;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__item a {
    padding-left: 0;
    padding-right: 36px;
    padding-top: 19px;
    font-size: 15px;
    line-height: 24px;
  }
  .main-nav__list {
    display: flex;
  }
}
@media @desktop-widths {
  .main-nav {
    order: -3;
    width: 400px;
    margin-right: 51px;
  }
  .main-nav__item a {
    font-size: 17px;
  }
  .main-nav__item:nth-child(1) a {
    padding-left: 0;
    padding-right: 37px;
    border-right: 1px solid #ececec;
    padding-top: 30px;
    padding-bottom: 33px;
  }
  .main-nav__item:nth-child(2) a {
    padding-left: 33px;
    padding-right: 0;
    padding-top: 31px;
    padding-bottom: 33px;
  }
}
