.main-content{
  background: url("../../img/hero-mobile@1x.jpg") center top no-repeat;
  min-height:370px;
  padding-top: 5px;
  box-sizing: border-box;
}
.main-content__title{
  margin-top:80px;
  margin-bottom: 170px;
  font-size: 27px;
  line-height: 30px;
}
