.main-content{



}
.main-content__wrapper{

  .container();
  padding-top: 1px;
  padding-bottom: 1px;
  background: url("../../img/hero-mobile@1x.jpg") center top no-repeat;
  min-height:370px;
}
.main-content__title{
  margin-top: 66px;
  margin-bottom: 122px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding: 0px 15px;
}
@media @tablet-widths {
  .main-content__wrapper {
    min-height:745px;
    background:url("../../img/hero-desktop.jpg") center top no-repeat;

  }
  .main-content__wrapper {

  }

  .main-content__title {
    margin-top: 169px;
    margin-bottom: 402px;
    font-size: 43px;
    line-height: 50px;

  }

}
