.main-content{
  background: url("../img/hero-mobile@1x.jpg") center -17px no-repeat;
  border-top: 1px solid #ececec;

}
.main-content__wrapper{

  .container();
  padding-top: 1px;
  padding-bottom: 1px;
}
.main-content__title{
  margin-top: 66px;
  margin-bottom: 126px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
@media @mobile-widths-only {

}
@media @tablet-widths {
  .main-content {
    background:url("../img/hero-desktop.jpg") center top no-repeat;
    margin-top: -54px;

  }
  .main-content__wrapper {

  }

  .main-content__title {
    margin-top: 169px;
    margin-bottom: 357px;
    font-size: 43px;
    line-height: 50px;

  }

}
