
.main-nav__list,
.main-nav-desktop__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav__item a,
.main-nav-desktop__item a,
.user-block__item a {
  display: block;
  padding: 15px;
  font-family: "OpenSans Bold",sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  margin-bottom: -1px;
  position: relative;
}
.main-nav__icon-cart {
  margin-right: 24px;
}
.main-nav__toggle {
  position: absolute;
  right: 0;
  top:0;
  width: 20px;
  height: 14px;
  background: url("../img/icon-menu-open.svg");
  border:none;
  outline: none;
  position: absolute;
  right: 0;
  top: 8px;
  cursor: pointer;

}
@media @mobile-widths-only {
  .main-nav__item a {
    border: 1px solid #ececec;
    background: #fff;
  }
  .main-nav {
    position: absolute;
    width:100%;
    left:0;
  }
}
@media @tablet-widths {
  .main-nav {
    width:335px;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__item a {
    font-size: 15px;
    line-height: 24px;
  }
  .main-nav-desktop {
    display: none;
  }
  .user-block__search {
    display: none;
  }
  .main-nav__list {
    display: flex;
  }
  .main-nav-desktop__list {
    display: flex;
  }
  .user-block__list {
    display: flex;
  }
  .user-block {
    order: -1;
  }
  .main-nav__item a {
    padding-left: 0;
    padding-right: 33px;

  }
  .page-header__logo-wrapper {
    order: -2;
  }

  .user-block__item {
    border-left: 1px solid #ececec;
  }
  .user-block__item-search a {
    padding-top: 33px;
    padding-bottom: 30px;
    padding-left: 33px;
    padding-right: 34px;
  }
  .user-block__item:last-child a {
    padding-left: 34px;
    padding-top: 33px;
    padding-bottom: 30px;
    padding-right: 0;
  }

}
@media @desktop-widths {
  .main-nav {
    order:-3;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
  }
  .main-nav__item a {
    font-size: 17px;
  }
  .main-nav__item:nth-child(1) a {
    padding-left: 0;
    padding-right: 31px;
  }
  .main-nav__item:nth-child(2) a {
    padding-left: 31px;
  }

  .main-nav-desktop {
    display: block;
    width:330px;

  }
  .main-nav-desktop__item a {
    font-size: 15px;
  }
  .main-nav-desktop__item:nth-child(1) a {
    padding-left: 0;
    padding-right: 30px;
  }
  .main-nav-desktop__item:nth-child(2) a {
    padding-left: 30px;
  }
}

