.page-footer {
  background-color: #f1f1f1;
}
.page-footer__wrapper {
  .container();
  padding-top: 23px;
}
.page-footer__copyright {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  display: flex;
}
.page-footer__copyright span {
  margin-right: 25px;
  align-self: center;
  margin-right: 25px;
}
.page-footer__icon:hover {
  fill: #46c1ae;
}
.page-footer__icon:active {
  fill: #46c1ae;
  fill-opacity: 0.3;
}
.page-footer__copyright:hover .page-footer__logo-copyright {
  fill: #46c1ae;
}
.page-footer__copyright:active .page-footer__logo-copyright {
  opacity: 0.3;
}
.page-footer__logo-copyright {
  fill: #63d1bb;
}
.page-footer__logo {
  display: none;
}

@media @mobile-widths-only {
  .page-footer__copyright {
    margin: 0 35px;
    padding-top: 19px;
    padding-bottom: 32px;
  }
}
@media @tablet-widths {
  .page-footer__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    align-self: center;
    display: block;
    margin-right: 154px;
  }
  .page-footer__copyright {
    align-self: center;
  }
}
