.production-process__wrapper {
  .container();
  padding: 0;
  display: flex;
  flex-direction: column;
  border:1px solid #ececec;
  box-sizing: border-box;
}

.production-process{

  margin-bottom:60px;
}

.production-process__title{
  font-size: 17px;
  line-height: 24px;
}
.production-process__icon-video {
  margin-right: 28px;
  margin-top: auto;
  margin-bottom: auto;
}
.production-process__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 28px;
  margin-right: 28px;
  min-height: 94px;
}

/*.production-process__decription {
  padding:0 33px;
  padding-top: 1px;
  border:1px solid #ececec;
  padding-bottom: 29px;
}*/
.production-process__decription {
  font-size: 13px;
  line-height: 24px;
  margin-left: 35px;
  margin-right: 35px;
  p {
    margin-top: 28px;
    margin-bottom: 25px;
  }

}
.production-process__video {
  height: 150px;

  position: relative;
}
.production-process__video-btn {
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -38px;
  margin-left: -50.5px;
  cursor: pointer;

}
.production-process__video-btn:hover {
  margin-left: -60.4px;
  margin-top: -46px;
  img {
    width: 120%;
    height: auto;
  }
}
.production-process__video-btn:active {
  margin-left: -40.4px;
  margin-top: -30.8px;
  img {
    width: 80%;
    height: auto;
    opacity: 0.3;
  }
}
.production-process__wrapper:hover  {
  box-shadow: 0px 6px 10px 0 rgba(0,0,0,0.1);

}

.production-process__wrapper:active {
  box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.1);

}

.production-process__order {
  width:190px;
  margin: 0 auto;
  margin-bottom:32px;
}
.production-process__icon-video {
  fill:#63d1bb;
}
@media @mobile-widths-only {
  .production-process__title {
    width:133px;
    margin-top: 23px;
  }

  .production-process__title-wrapper {
    order:-2;
  }

}
@media @tablet-widths {
  .production-process__wrapper {
    padding: 0;

  }
  .production-process__decription,
  .production-process__title-wrapper {
    margin-left: 44px;
    margin-right: 44px;

  }
  .production-process__video-img{
    width: 668px;
    height: auto;
  }
  .production-process__video {
    height: 385.38px;

  }
  .production-process__title-wrapper {
    display: flex;

  }
  .production-process__title {
    margin-top: 37px;
    font-size: 20px;
    line-height: 24px;

  }
  .production-process__order {
    width:100%;
    margin-bottom: 10px;
  }

  .production-process__decription {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 36px;
    p {
      margin-top: 0;
      margin-bottom: 36px;
    }
  }
}
@media @desktop-widths {
  .production-process__wrapper {
    display: block;
    .clearfix();
  }
  .production-process__video-img{
    width: 680px;
    height: 456px;
  }
  .production-process__video {
    height: 456px;
    float:left;
  }

  .production-process__decription,
  .production-process__title-wrapper  {
    float:right;
    width:23%;
    box-sizing: border-box;
    margin-left: 75px;
    margin-right: 50px;
  }
  .production-process__title-wrapper {
    margin-top: 40px;
    flex-direction: column;

  }
  .production-process__title {
    width:173px;
    margin-top: 24px;

  }

  .production-process__icon-video {


  }
  .production-process__decription p{
    font-size: 15px;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 47px;
  }
}
