.production-process{
  padding-bottom:33px;
  margin-bottom:60px;
}
.production-process__title{
  font-size: 17px;
  line-height: 24px;
}
.production-process p{
  font-size: 13px;
  line-height: 24px;
}
