.reviews{
  padding-bottom:40px;
  margin-bottom: 45px;

}
.reviews__wrapper{
  .container();
}
.reviews p{
  line-height: 30px;
}
.reviews__author{
  font-family: "OpenSans Bold",sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;

}
.reviews__author-nick{
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}
.reviews__prev,
.reviews__next{
  display: block;
  padding: 15px 35px 10px 35px;

  flex-grow: 1;

}
.reviews__controls{
  display: flex;
  margin-bottom: 35px;
}
.reviews input[type="radio"] {
  display: none;
}
@media @mobile-widths-only {
  .reviews__prev,
  .reviews__next{
    border: 1px solid #ececec;
  }
}
@media @tablet-widths {
  .reviews__wrapper{
    background: url("../../img/review@1x.jpg") -40px 0 no-repeat;
    display: flex;
    flex-wrap: wrap;
  }
  .reviews__title {
    order: -2;
    margin-right: auto;
  }
  .reviews__write {
    order: -1;
    margin: auto 0;
  }
  .reviews__items {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .reviews__author {
    display:block;
  }
  .reviews__controls {
    position: absolute;
    right: 0;
    bottom: 54px;
  }
}
