.reviews{
  padding-bottom:40px;
  margin-bottom: 45px;
}
.reviews p{
  line-height: 30px;
}
.reviews__author{
  font-family: "OpenSans Bold",sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;

}
.reviews__author-nick{
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}
