.second-nav__list{
  list-style: none;
  margin:0;
  padding:0;

}
.second-nav__item a{
  display: block;
  padding:27px;
  text-decoration: none;
  font-family: "OpenSans Bold",sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}

.second-nav__item:nth-child(1) a{
  background-color: #63d1bb;

}
.second-nav__item:nth-child(2) a{
  background-color: #56c3b2;

}
