.social-links__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-links__item {
  display: inline-block;
  font-size: 0;
}
.social-links__item a {
  display: block;
  font-size: 19px;
  margin-right: 35px;
}
.social-links__item a:hover svg {
  fill: #46c1ae;
}
.social-links__item a:active svg {
  fill: #46c1ae;
  fill-opacity: 0.3;
}
.social-links__item:last-child a {
  margin-right: 0;
}
.visually-hidden {
  visibility: hidden;
}
@media @mobile-widths-only {
  .social-links__list {
    margin: 0 56px;
  }
  .social-links {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}
@media @tablet-widths {
  .social-links {
    align-self: center;
    margin-right: 84px;
  }
}
