.user-block__icon-search,
.user-block__icon-cart {
  fill:#d3d2d2;

}
.user-block__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media @mobile-widths-only {
  .user-block__item a {
    border: 1px solid #ececec;
    background: #fff;
  }
  .user-block {
    position: absolute;
    top:153px;
    left:0;
    width:100%;
  }
}
@media @tablet-widths {
  .user-block__icon-cart {
    margin-right: 28px;
  }
  .user-block {
    width: 350px;
  }
}
